*.so
*~
*.c
*#
*.pdf
*.csv
0/
21cmfast/
21cmvFAST-master/
outputs/
*FDM*
*PBH*
*_0.*
*Dark_Ages*
Bursty_Training_Data_SAM_TwoParts.pyx
Continue_Integral_Sim.pyx
Dz_Zero.npy
Full_Bursty_Simulation.pyx
Old/
Paper3-21cmfast/
HMFs/
Int_DNDMs/
Sigmas.npy
Sigmas_Box_1.0.npy
Sigmas_Box_192.0.npy
Sigmas_Box_5.0.npy
J_LW_0/
Run.py
Schaerer_Test.py
build/
cython_setup.py
submit.pbs
test.py
z_arrays/
*/